.header{
    visibility: hidden;
    opacity: 0;
    max-width: 125rem;
    height: 8rem;
    margin: 0 auto;
    position: fixed;
    top: 4rem;
    left: 5rem;
    right: 5rem;
    background-color: var(--card-bg);
    border-radius: 8rem;
    padding-inline: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border: 1px solid var(--ash-tertiary);
}

.logo{
    font-size: 2rem;
    color: white;
    font-weight: 700;
}

.links_container{
    display: flex;
    justify-content: space-between;
    gap: 8rem;
}

/*Reduce the Gap when you add more nav links*/

.navlinks_container{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.navlink{
    background: linear-gradient(to right, white 50%, var(--cyan-primary) 50%, var(--cyan-primary));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 3s ease-out;
}

.navlink:hover {
  background-position: -100%;
  border-color: var(--cyan-primary);
  color: var(--cyan-primary);
}

.animated_btn{
    border: 1px solid white;
    padding: 0 3.5rem;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
} 

@media(min-width:1200px) {
    .header {
        visibility: visible;
        opacity: 1;
    }
}
