:root {
  font-size: 10px;
  --main-bg: #151515;
  --header-bg: #252830; 
  --cyan-primary: #22BCB4;
  --cyan-secondary: #AFDDD7ff;
  --card-bg: #1B1B1D;
  --ash-primary: #777778;
  --ash-secondary: #585d65;
  --ash-tertiary: #252525;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Familjen Grotesk', sans-serif;
  background-color: var(--main-bg);
  color: white;
}


a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 6.2rem;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
}

span {
  display: inline-block;
}

em {
  display: inline-block;
  font-style: normal;
  min-width: .5rem;
}

h2 {
  font-size: 5.5rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 3rem;
}

h4 {
  font-size: 1.4rem;
  line-height: 3rem;
}

p {
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.stack_icons {
  border: 1px solid white;
}

@media(max-width: 1200px) {
  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4{
    font-size: 1.2rem;
  }

  p {
    font-size: 1.4rem;
  }
}


